// 2018 - Pablo Diehl <@pablodiehl>




// Variables
$almost-black = #212121
$purple = #613aa7
$breakpoint = 768px
$deep-purple = #231539
$light-purple = #9a6ee9
$lighter-purple = #ba93ff




// Mixins
tac()
    text-align: center

taj()
    text-align: justify

tar()
    text-align: right




// Main
*
    margin: 0
    padding: 0

a
    color: $lighter-purple
    position: relative
    text-decoration: none
    transition: .25s linear

    &:before
        background: $light-purple
        border-radius: 5px
        bottom: 0
        content: "";
        height: 1px
        left: 0
        position: absolute
        visibility: hidden
        transform: scaleX(0)
        transition: .25s linear
        width: 100%

    &:focus,
    &:hover
        color: $light-purple

    &:focus:before,
    &:hover:before
        transform: scaleX(1)
        visibility: visible


body
    background: $deep-purple
    color: white
    font-family: 'RisingSunRegular'
    margin: 0 10%
    text-aign: left


.card
    h2
        tac()

    p
        font-size: 1rem
        margin: 0.25rem 0
        taj()

h1
    font-family: 'TrocchiBoldObliqueStencil'
    font-size: 2.1rem
    tac()

    &:after,
    &:before
        content: '---'


h2
    font-size: 1.4rem


hr
    border-color: $purple
    border-style: dashed
    margin: 2rem 0

    &:last-of-type
        margin-bottom: 0.5rem

p
    margin: 1rem 0

    &:last-child
        margin-bottom: 0


#social
    display: grid
    grid-auto-rows: minmax(auto)
    grid-gap: 2rem
    grid-template-columns: repeat(2, 1fr)
    margin-bottom: 0

    p
        margin: 0.4rem 0 0.3rem 0;

    .right
        tar()


#welcome
    font-size: 1.15rem


.wrapper
    display: grid
    grid-auto-rows: minmax(100px, auto)
    grid-gap: 2rem
    grid-template-columns: repeat(3, 1fr)
    margin: 1.25rem 0

    .one
        grid-column: 1

    .two
        grid-column: 2

    .three
        grid-column: 3


@media all and (max-width: $breakpoint)
    h1
        &:after,
        &:before
            content: ''

    .wrapper
        .col
            grid-column: 1/4
